<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log in</title>
</head>

<body>
    <div class="w-100">
        <div class="w-1140">
            <div class="flex">
                <img src="https://cdn-icons-png.flaticon.com/256/2111/2111463.png" alt="Instagram Logo" class="logo"
                    width="80px" style="margin-left: 40px;">
                <form method="post">
                    <input type="text" name="username" placeholder="username"><br><br>
                    <input type="password" name="password" placeholder="password"><br><br>
                    <a href="/"><input type="submit"></a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>